.DS_Store
.pyc
*.swp
node_modules
npm-debug.log
bundle/
docs/_build
docs/_templates
src/dists.js
src/dists.wppl
src/inference/enumerate.js
src/inference/elbo.js
src/inference/eubo.js
src/inference/sdream.js
src/inference/dream/sample.js
src/inference/dream/gradients.js
src/inference/dream/estimator.js
src/aggregation/ScoreAggregator.js
