/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


h3.logo {
   font-style: italic
}

h3.logo a:hover, h3.logo a:active, h3.logo a:focus, h3.logo a:visited {
   text-decoration: none;
}

div.citation {
  padding-left: 20px;
  font-style: italic;
}

code.nobreak {
  white-space: nowrap;
}

span.logo-main {
   color: #C81039;
}
span.logo-bold {
   font-weight: bold;
   color: #C81039;
}

span.logo-tagline {
   font-weight: 100;
   padding-left: 5px;
   color: #333;
}

div.main-lead {
   padding-top: 20px;
   padding-bottom: 5px;
   background-color: brown;
   color: white;
}

div.editor-panel-body {
   margin-left: 30px;
   margin-top: -70px;
}

#bibtex {
   display: none;
   overflow: auto;
   word-wrap: normal;
   white-space: pre;
   padding-left: 20px;
   font-size: 10px;
}